@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

img{
    max-width: 100%;
    width: 100%;
}

.logo{
    font-weight: 800;
    font-size: 2.3rem;
}

ul{
    list-style-type: none;
}

p{
    line-height: 1.5;
    color: hsl(236, 13%, 42%);
}

body{
    font-size: 0.940rem;
    background-color: hsl(36, 100%, 99%);
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 3rem;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
}

.navigation nav {
    opacity: 0;
    z-index: -1;
    transition: all 0.3 ease-in-out;
}

.navigation nav.active{
    position: fixed;
    background-color: white;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75vw;
    background-color: white;
    padding: 1.25rem;
    opacity: 1;
    z-index: 1;
    transform-origin: right;
    transition: all 0.3s ease-in;
}

.navigation nav ul{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.navigation nav ul li{
    margin: 1.5rem 0;
    font-size: 1.3rem;
    transition: all 0.3s ease-in; 
    color: hsl(236, 13%, 42%);
}

.navigation nav ul li:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.features{
    padding:  1.25rem;
    padding-top: 0;
}

.features h1{
    font-size: 2rem;
    color: hsl(240, 100%, 5%);
    margin: 1rem 0;
}

.features div:first-child article p{
    margin-bottom: 1rem;
}


.features div:first-child article button{
    background-color: hsl(5, 85%, 63%);
    color: white;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border-radius: 3px;
    transition: all 0.4s ease-in;
}

.features div:first-child article button:hover{
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}
.features div:first-child article button a,
.features .New h3 a{
    text-decoration: none;
    color: white;
}

.features .New{
    background-color: hsl(240, 100%, 5%);
    margin-top: 2rem;
    padding: 1.25rem;
}

.features .New h2{
    color: hsl(35, 77%, 63%);
}

.features .New article{
    padding: 1.25rem 0;
}

.features .New article:nth-child(3),
.features .New article:nth-child(2){
    border-bottom: 1px solid hsl(236, 13%, 42%);
}

.features .New h3{
    color: hsl(36, 100%, 99%);
    margin-bottom: 0.5rem;
}

.features .New h3 a:hover{
    color: hsl(35, 77%, 63%);
    cursor: pointer;
}

.latest-trends{
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.latest-trends article{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.latest-trends img{
    width: 150px;
}

.latest-trends article span{
    color: hsl(236, 13%, 42%);
    font-weight: 800;
    font-size: 2rem;
    opacity: 75%;
}

.latest-trends article h4{
    font-size: 1.25rem;
    
    margin: 1rem 0;
}

.latest-trends article h4 a{
    text-decoration: none;
    color: hsl(240, 100%, 5%);
}

.latest-trends article h4 a:hover{
    cursor: pointer;
    color: hsl(5, 85%, 63%);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 30px;
    margin-right: 5px;
    z-index: 1;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.toggle-button .bar.active{
    position: absolute;
} 

.toggle-button .bar:first-child.active{
    top: 0;
    transform: rotate(45deg);
}

.toggle-button .bar:nth-child(2).active{
   background-color: transparent;
}

.toggle-button .bar:last-child.active{
    top: 10;
    transform: rotate(-45deg);
}



@media (min-width:768px) {
    .latest-trends{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 2rem
    }
}

@media (min-width: 1024px) {

    .logo{
        font-size: 3rem;
    }

    .navigation{
        padding: 2rem 1.25rem;
    }

    .navigation nav{
        opacity: 1;
        z-index: auto;
    }

    .navigation nav ul{
        position: relative;
        top: 0;
        transform: translateY(0%);
        display: flex;
        gap: 2rem;
    }

    .navigation nav ul li{
        margin:0;
        font-size: 1.2rem;
    }

    .navigation nav.active{
        position: relative;
        width: auto;
        background-color: transparent;
        padding: 0;
        z-index: auto;
    }

    .features{
        display: flex;
        gap: 2rem;
    }

    .features div:first-child article{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        place-items: center;
        margin-top: 1.2rem;
    }

    .features div:first-child article h1{
        font-weight: 800;
        font-size: 3rem;
    }

    .features .New{
        margin: 0;
        width: 775px;
    }

    .latest-trends{
        grid-template-columns: repeat(3, 1fr);
    }

    .toggle-button{
        display: none;
    }
}




