@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    background-color: hsl(36, 100%, 99%);
}

.brand-logo {
    font-size: 3rem;
    font-weight: 900;
    color: hsl(240, 100%, 5%);
}

.navbar {
    margin: 35px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style-type: none;
}

.navbar-links ul a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: black;
}

.navbar-links li a:hover {
    color: hsl(5, 85%, 63%);
}


@media (max-width: 800px) {
    .navbar {
        margin: 20px 20px;
    }
}